h2 {
    text-align: center;
    margin-top: 1vw;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.image-container>a>img {
    /* height: 200px; */
    width: 100%;
    height: auto;


}

.col-sm-5 {
    margin: auto !important;
}

.image-container {
    width: 100%;
    padding: 20px;
    margin: 2%;
    align-items: center;

    position: relative;


}

.container1 {
    background-color: rgba(198, 103, 109, 0.65);

}

.parallax {
    min-height: 550px;
    background: transparent;
    padding: 20px;
    background-color: lavender;
}

.projectParallax {
    min-height: 450px;
    background: transparent;
    padding: 20px;
}

.paratext {
    padding-bottom: 5%;
}

.para1 {
    z-index: 2;
    position: relative;
    text-align: center;
}

.para2 {
    z-index: 2;
    position: relative;
    text-align: center;
    font-weight: 500;
    width: 50%;
    margin: 0 auto;
    line-height: 1.45em;
    margin-top: 1vh;
}

.outline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background: transparent;
}

h4 {
    text-align: center;
    margin-top: 1.4vw;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: lavender;
    color: black
}

h5 {
    text-align: center;
}

.proj-img:hover {
    transform: scale(1.05);
}